h2, a{
  font-family: 'Lato', sans-serif;
}

h2{
  font-size: 50px !important;
}

p, h3{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

#full-page{
  height: 100% !important;
  width: 100% !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#home {
/*   background-color: #00B274; */
  align-content: center;
  padding-top: 200px;
  background-image: url("https://images.pexels.com/photos/399160/pexels-photo-399160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio {
  background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
}
#contact {
  background-image: url("https://images.pexels.com/photos/97078/pexels-photo-97078.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 50% !important;
}

nav {
  opacity: 0.9;
  padding-left: 20px;
  padding-right: 20px;
}

section{
  padding: 90px;
  height: 900px;
  text-align: center !important;
}

.profilepic {
  border-radius: 50%;
  max-height: 260px;
}

.thumbnail img{
  max-height: 200px;
}

.contact-font{
  color: white;
}


/*mobile friendly*/
@media screen and (max-width: 760px) {
  #home{
    padding-top: 100px !important;
  }

  #portfolio{
    padding-top: 50px !important;
    height: 1200px !important;
  }

  #contact{
    text-align: center !important;
    padding-left: 90px !important;
    padding-top: 70px !important;
  }

  .contact-font{
    text-shadow: 1px 1px 2px black;
  }
  }

@media screen and (max-width: 1024px) {
  #home{
    padding-top: 100px !important;
  }
  
  #portfolio{
    padding-top: 50px !important;
    height: 1400px !important;
  }
  
  #contact{
    text-align: center !important;
    padding-left: 90px !important;
    padding-top: 70px !important;
  }

  .contact-font{
    text-shadow: 1px 1px 2px black;
  }

  .thumbnail{
    width: 300px;
  }

  .col-md-6{
    padding-left: 155px;
  }
}
